<h1>Questions#add</h1>
<p>Find me in add/views/questions/add.html.erb</p>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask your coach anything">
  <input type="submit" value=Ask!>
</form>
